<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Dashboard")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>C</b>C</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Constant</b>CONNECT</span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu pull-left">
            <ul class="nav navbar-nav">
                @* BEGIN Notifications *@
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                @* END Notifications *@
                @* BEGIN Tasks *@
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <h3>
                                            Design some buttons
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        <div class="progress xs">
                                            @* Change the css width attribute to simulate progress *@
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>
                </li>
                @* END Tasks *@
            </ul>
        </div>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user-circle"></i>
                        <span class="hidden-xs">
                            @if(User.Identity.IsAuthenticated)
                            {
                                @Html.DisplayName(string.Format("{0} {1}",
                                    ((User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("given_name") == null
                                        ? "" : (User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("given_name").Value),
                                    ((User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("family_name") == null
                                        ? "" : (User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("family_name").Value)
                                ));
                            }
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="~/Content/img/user.jpg" class="img" alt="User Image">

                            <p>
                                @Html.DisplayName(string.Format("{0} {1}",
                                    ((User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("given_name") == null
                                        ? "" : (User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("given_name").Value),
                                    ((User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("family_name") == null
                                        ? "" : (User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("family_name").Value)
                                ))
                            </p>
                            <small>
                                @Html.DisplayName(string.Format("{0}",
                                    ((User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("email") == null ? "" :
                                    (User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("email").Value)
                                ))
                            </small>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="@Url.Action("UserProfile", "Account")" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("Logout","Account")" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                @* END User Account Menu *@
                @* BEGIN Control Sidebar Toggle Button *@
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
                @* END Control Sidebar Toggle Button *@
            </ul>
        </div>
    </nav>
</header>