@model ConstantConnect.MVCClient.Models.DashboardViewModel
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

<div class="col-lg-6 col-md-6">
    <div id="activerooms" class="collapse">
        <div class="box box-primary box-table">
            <div class="box-header with-border">
                <h3 class="box-title">Active Rooms</h3>
                <div class="box-tools pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Modify View</a></li>
                            <li><a href="#">Save View</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">My Views</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="export" data-content="table-activerooms">Export data</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target="#activerooms" @*data-widget="collapse"*@><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <div class="row">
                    <div class="input-group">
                        <input type="hidden" name="search_param" value="all" id="search_param">
                        <input type="text" class="form-control table-filter" id="search-activerooms" placeholder="Search for a room">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                    <div class="checkbox-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="filter-column filter-column-3" id="filter-activerooms" value="Yes">Show Rooms In Use
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="table-container dashboard-data-table">
                    <table class="table table-striped table-hover data-table" width="100%" id="table-activerooms">
                        <thead>
                            <tr>
                                <th rowspan="2" class="vertical-center">Name</th>
                                <th colspan="6" class="text-center">Application</th>
                            </tr>
                            <tr>
                                <th class="small text-center min">CTRL</th>
                                <th class="small text-center min">VTC</th>
                                <th class="small text-center min">PRES</th>
                                <th class="small text-center min">ATC</th>
                                <th class="small text-center min">RC</th>
                                <th class="vertical-center text-center no-sort text-nowrap">IN USE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ActiveRoomsData)
                            {
                                <tr class="text-nowrap">
                                    <td>
                                        @*@Html.ActionLink(item.Name, "ModalAction", "Room", new ConstantConnect.DTO.Shared.Room{ Id = item.Id, Name = item.Name, ParentId = item.OrganizationId }, new*@
                                        
                                    @Html.ActionLink(item.Name, "ModalAction", "Room", item, new
                                   {
                                       data_target = "#modal-container",
                                       data_toggle = "modal"
                                   })
                                    </td>
                                    @switch (item.ControlStatus)
                                    {
                                        case 0:
                                            <td class="text-center"></td>
                                            break;
                                        case 1:
                                            <td class="text-center"><i class="fa fa-sliders text-green" aria-hidden="true"></i></td>
                                            break;
                                        case 2:
                                            <td class="text-center"><i class="fa fa-sliders text-red" aria-hidden="true"></i></td>
                                            break;
                                        default:
                                            <td></td>
                                            break;
                                    }
                                    @switch (item.VtcStatus)
                                    {
                                        case 0:
                                            <td class="text-center"></td>
                                            break;
                                        case 1:
                                            <td class="text-center"><i class="fa fa-video-camera text-green" aria-hidden="true"></i></td>
                                            break;
                                        case 2:
                                            <td class="text-center"><i class="fa fa-video-camera text-red" aria-hidden="true"></i></td>
                                            break;
                                        default:
                                            <td></td>
                                            break;
                                    }
                                    @switch (item.PresentationStatus)
                                    {
                                        case 0:
                                            <td class="text-center"></td>
                                            break;
                                        case 1:
                                            <td class="text-center"><i class="fa fa-television text-green" aria-hidden="true"></i></td>
                                            break;
                                        case 2:
                                            <td class="text-center"><i class="fa fa-television text-red" aria-hidden="true"></i></td>
                                            break;
                                        default:
                                            <td></td>
                                            break;
                                    }

                                    @switch (item.AtcStatus)
                                    {
                                        case 0:
                                            <td class="text-center"></td>
                                            break;
                                        case 1:
                                            <td class="text-center"><i class="fa fa-phone text-green" aria-hidden="true"></i></td>
                                            break;
                                        case 2:
                                            <td class="text-center"><i class="fa fa-phone text-red" aria-hidden="true"></i></td>
                                            break;
                                        default:
                                            <td></td>
                                            break;
                                    }

                                    @* TODO Get Room Check Status *@
                                    <td class="text-center"><i class="fa fa-list-ol" aria-hidden="true"></i></td>

                                    @switch (item.Status)
                                    {
                                        case 0:
                                            <td class="text-center"></td>
                                            break;
                                        case 1:
                                            <td class="text-center"><i class="fa fa-circle text-green" aria-hidden="true"></i></td>
                                            break;
                                        case 2:
                                            <td class="text-center"><i class="fa fa-circle text-red" aria-hidden="true"></i></td>
                                            break;
                                        default:
                                            <td></td>
                                            break;
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- ./box-body -->
            <div class="box-footer" style="display: block;">
                <div class="row">
                    <div class="col-sm-2 col-md-offset-1">
                        <div class="description-block">
                            <span class="description-text text-blue huge">
                                @Model.ActiveRoomsData.Count(i => i.ControlStatus == 1)
                            </span>
                            <h5 class="description-header">Control</h5>
                            <span class="description-text">Total Rooms</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-2">
                        <div class="description-block">
                            <span class="description-text text-green huge">
                                @Model.ActiveRoomsData.Count(i => i.VtcStatus == 1)
                            </span>
                            <h5 class="description-header">Video Conference</h5>
                            <span class="description-text">TOTAL ROOMS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-2">
                        <div class="description-block">
                            <span class="description-text text-yellow huge">
                                @Model.ActiveRoomsData.Count(i => i.PresentationStatus == 1)
                            </span>
                            <h5 class="description-header">Presentation</h5>
                            <span class="description-text">TOTAL ROOMS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-2">
                        <div class="description-block">
                            <span class="description-text text-red huge">
                                @Model.ActiveRoomsData.Count(i => i.AtcStatus == 1)
                            </span>
                            <h5 class="description-header">Audio Conference</h5>
                            <span class="description-text">TOTAL ROOMS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-sm-2">
                        <div class="description-block">
                            <span class="description-text text-light-blue huge">0</span>
                            <h5 class="description-header">RoomCheck</h5>
                            <span class="description-text">TOTAL ROOMS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
</div>
<!-- /.panel -->


<script>
    $(document).ready(function () {
        $('#search-activerooms').keyup(function () {
            var value = this.value.toLowerCase().trim();
            $('#table-activerooms').find("tr").each(function (index) {
                if (!index) return;
                $(this).find("td").each(function () {
                    var id = $(this).text().toLowerCase().trim();
                    var notFound = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!notFound);
                    return notFound;
                })
            });
        });
    });
</script>

